<!DOCTYPE html>
<html>
<head>
	<title>Calculadora</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
</head>
<body style="font-family: sans-serif;">
	{% if soma %}
		{{ soma }}
	{% endif %}
	<form method="POST">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Somar">
	</form>

	<table>
		<tr>
			<th>Nome</th>
			<th>Número 2</th>
			<th>Número 2</th>
			<th>Data/Hora</th>
		</tr>
		{% for log in logs %}
			<tr>
				<td>{{ log.nome }}</td>
				<td>{{ log.num_1 }}</td>
				<td>{{ log.num_2 }}</td>
				<td>{{ log.datahora }}</td>
			</tr>
		{% endfor %}
	</table>
</body>
</html>